* {
    border: 0px;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

body {
    min-height: 960px;
    max-height: 100%;
    min-width: 800px;
    width: 100%;
    background-color: #e3e3e3;
}

#navigation {
    z-index: 2;
    position: fixed;
    min-height: 50px;
    min-width: 600px;
    height: 70px;
    width: 100%;
    background-color: #e3e3e3;
}

#navigationul {
    position: absolute;
    list-style: none;
    padding-left: 10%;
    height: 100%;
    min-width: 400px;
    width: 80%;
}

.navigationli {
    float: left;
    min-width: 50px;
    width: 100px;
    height: 100%;
}

.navigationa {
    position: relative;
    top: 38%;
    color: black;
    font-size: 18px;
}

#content {
    position: absolute;
    z-index: 1;
    top: 100px;
    left: 25%;
    width: 50%;
    min-width: 300px;
    min-height: 960px;
    height: auto;
    background-color: rgba(255, 255, 255, 0);
}